body {
  font-family: Arial, sans-serif;
  background-color: #daaaaa;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

#quiz-container {
  align-items: center;
  width: 80%;
  background-color: #d7ca52;
  padding: 40px;
  border-radius: 20px;
}

.question {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #e29748;
  border-radius: 4px;
  
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
select {
  margin-bottom: 10px;
  padding: 10px;
  color: black;
  font-weight:bold;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #f2c4c4;
  border-radius: 10px;
  font-size: 14px;
  background-color:rgb(244, 237, 237);

}

input[type="radio"],
input[type="checkbox"] {
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
}

button {
  color: #9de616;
  padding: 10px;
  padding: 12px 24px;
  background-color: #9de616;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0ca104;
}

button:disabled {
  background-color: #f76d5d;
  cursor: not-allowed;
}

#time {
  font-size: 20px;
  font-weight:bolder;
}
